[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask = "*"
python-dotenv = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-dance = "*"

[dev-packages]

[requires]
python_version = "3.13"
